package gherkinexecutor.Feature_Game_of_Life;
import java.util.*;
import static org.junit.jupiter.api.Assertions.*;
import java.util.List;

class Feature_Game_of_Life_glue {
    final String DNCString = "?DNC?";


    void Given_generation_is(List<List<String>> values ) {
        System.out.println("---  " + "Given_generation_is");
        for (List<String> value : values){
             System.out.println(value);
             // Add calls to production code and asserts
              }
        fail("Must implement");
    }

    void When_output(){
        System.out.println("---  " + "When_output");
        fail("Must implement");
    }

    void Then_generation_is_now(List<List<String>> values ) {
        System.out.println("---  " + "Then_generation_is_now");
        for (List<String> value : values){
             System.out.println(value);
             // Add calls to production code and asserts
              }
        fail("Must implement");
    }

    void When_tick(){
        System.out.println("---  " + "When_tick");
        fail("Must implement");
    }

    }
